/* Base styles */
@font-face {
  font-family: DINPro-300;
  src: url(../fonts/DINPro-CondensedLight.ttf);
}

@font-face {
  font-family: DINPro-400;
  src: url(../fonts/DINPro-CondensedRegular.ttf);
}

@font-face {
  font-family: DINPro-500;
  src: url(../fonts/DINPro-CondensedMedium.ttf);
}

@font-face {
  font-family: DINPro-700;
  src: url(../fonts/DINPro-CondensedBold.ttf);
}

::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #E0E0E0;
}

:root {
  /* COLORS */
  --deep-black: #111111;
  --soft-black: #202024;
  --purple: #4F2EE8;
  --yellow: #EAC645;
  --white: #ffffff;
  --backdrop-color: #11111166;
  --backdrop-color-sl: #f6f6f6;
  --shopping-list-text-color: #00000099;
  --purple-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --switch-circle-pos: 2px;
  --theme-switcher-gradient: linear-gradient(#4f2ee8, #fff);
  --text-categories: #11111199;
  
}

body[data-theme="light"] {
  /* COLORS */
  --deep-black: #111111;
  --soft-black: #202024;
  --purple: #4F2EE8;
  --yellow: #EAC645;
  --white: #ffffff;
  --backdrop-color: #11111166;
  --backdrop-color-sl: #f6f6f6;
  --bookcard-backdrop-color: #ffffff;
  --shopping-list-text-color: #00000099;
  --purple-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --switch-circle-pos: 2px;
  --theme-switcher-gradient: linear-gradient(#4f2ee8, #fff);
  --categories-text: rgba(17, 17, 17, 0.60);
  --book-card-filter: brightness(0) invert(0);
  --modal-icon-color: grayscale(1);
}

body[data-theme="dark"] {
  /* COLORS */
  --deep-black: #ffffff;
  --soft-black: #202024;
  --purple: #EAC645;
  --yellow: #4F2EE8;
  --white: #202024;
  --backdrop-color: #11111166;
  --backdrop-color-sl: #202024;
  --bookcard-backdrop-color: #111111;
  --shopping-list-text-color: #FFFFFF99;
  --purple-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --switch-circle-pos: 17px;
  --theme-switcher-gradient: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
  --categories-text: rgba(255, 255, 255, 0.60);
  --book-card-filter: brightness(0) invert(1);
  --modal-icon-color: brightness(0) invert(1) grayscale(1) brightness(1) contrast(100%);
}

:root {
  /* FONTS */
  --regular: font-weight: 400;
  --medium: font-weight: 500;
  --bold: font-weight: 700;
  /* ANIMATIONS */
  --function-duration: 350ms;
  --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}